.filters {
    display: grid;
    gap: 12;
    grid-template-columns: 1fr;
    margin: 12px 0;
}

.subfilters {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.filters input, .filters select {
    display: block;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-top: 12px;
    
}