.back-btn {
  color: var(--primary);
}
.title {
  margin-top: 20px;
}
img {
  border-radius: 10px;
  box-shadow: var(--shadow);
}
table {
  max-width: 612px;
}
.tour-detail {
  position: relative;
}
.sticky-btn {
  position: sticky;
  bottom: 50px;
  font-size: 20px;
  width: 150px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .sticky-btn {
    width: 100%;
  }
}
