.footer {
    background-color: var(--primary);
    color: var(--card);
    margin-top: 24px;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.footer-nav a {
    text-decoration: none;
    margin-left: 12px;
    padding: 8px 10px;
    border-radius: 6px;
}

.footer-nav.active, .footer-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


@media screen and (max-width: 768px) {
    .footer-inner {
        flex-direction: column;
        justify-content: center;
    }
}