.card img {
    width: 100%;
    height: auto;
}
.card-body {
    height: 100%;
}
.card-body h3 {
    margin: 0;
}
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
    box-shadow: 5px 5px 5px var(--primary);
}

